html, body {height: 100%;}
*{
    font-family: 'Lato', sans-serif;
    margin: 0 0;
    padding: 0 0;
    font-weight: lighter;
}
h1,
.first_letter
{ font-family: 'Playfair Display', serif;

}
main{
    margin: 7% 8%;
    padding: 0 0 2% 5%;
    font-size: 18px;
    line-height: 34px;
    box-shadow: 0 4px 68px 0 rgba(0, 0, 0, 0.1);
}
p{
    white-space: pre;
    color: #7a7a7a;
}
.first {margin: 60px 0 0 92px;}

.second {padding: 30px 0;}

h1{
    position: relative;
    top: 80px;
}

.first_letter{
    font-size: 115px;
    position: relative;
    top: 120px;
    left: 8px;
    width: 30px;
    color: black;
}

span{
    font-size: 60px;
    color: #7a7a7a;
    font-weight: 500;
    font-style: normal;
}

blockquote{
    font-style: italic;
    font-size: 23px;
    color: #7a7a7a;
    padding: 30px 0;
    white-space: pre;
}

input{
    background: none;
    border: 1px solid #eaa258;
    width: 235px;
    text-align: center;
    white-space: pre;
    font-weight: 600;
    padding: 9px 0 ;
    color: #eaa258;
}

input:active{
    background-color: #eaa258;
    color: white;
}

.burron{
    text-decoration: none;
}


