html, body {height: 100%;}
* {
    font-family: 'Roboto', 'Raleway', sans-serif;
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}
aside,
li,
h5
{
    display: inline-block;
}

/*--------------------------------------фон+центрированная середина+градиент----------*/
body{
    background: #eeeeee;
}

.central_part{
    padding-left:9%;
    padding-right: 9%;
    display: inline-block;
    width: auto;
    background: radial-gradient(circle closest-corner at 65% 20%,#fff,#fefefe 30%, #eeeeee );
}
/*------------------------------навигация----------------------------------------------------------*/

header{
    margin: 5% 0 0 0 ;
}
h5{
    padding: 1% 0 8% 0 ;
    font-family: Roboto, sans-serif ;
    color: #303030;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 1.2px;
}
header ul{
    float: right;
    padding-top: 30px;
}

header ul li a{
    text-decoration: none;
    color: #303030;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.45px;
}

header ul li{
    margin: 0 25px;
}
li:last-child{
    margin-right: 0;
}
/*---------------------------------------------слайд-------------------------*/
.informacion {
    width: 50%;
    text-align: right;
    display: inline-block;
}

h2{
    color: #303030;
    font-family: Raleway,sans-serif;
    font-size: 150px;
    font-weight: 900;
    line-height: 150px;
    text-transform: uppercase;
    letter-spacing: 3.75px;
    display: inline-block;
}

main p{
    color: #303030;
    font-family: Roboto,sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.6px;
    margin: 5% 0 0 2%;
}
.slide{ max-width: 750px}

a{
    text-decoration: none;
    color: #e10011;
}
main p:nth-child(3){
    color: #e10011;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}
.dot{
   text-align: center;
    max-width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 87px;

}

.handsfree{
    max-height: 500px;
    margin-left: 100px;
    margin-right: 15px;
    display: inline-block;
    width: 40%;

}

.dot span{
    width: 13px;
    background: black;
    border-radius: 50%;
    height:13px;
    display:inline-block;
    margin-right: 4px;
    margin-left: 4px;
}

.dot span:first-child{
    background-color: #e10011;
}

/*-----------------------------------------середина-------------------------------*/
.middle{
    background-color: white;
    margin: 8% auto;
    width: 100%;
    max-width: 1198px;
    text-align: center;
}

.middle h3{
    color: #303030;
    font-family: Raleway,sans-serif;
    font-size: 48px;
    line-height: 80px;
    letter-spacing: 1.2px;
    padding-top: 6%;
    text-align: center;
}

.underline1{
    color: #303030;
    font-family: Raleway,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.45px;
    padding-top: 10px;
    display: inline-block;
    max-width: 570px;
}

.imege{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
}

.speaker,
.beats{
    margin: 20px;
    background-color: #eeeeee;
    border-radius: 7px;
}

.speaker{
    width: 692px;
    height: 391px;
}
.beats{
    height: 391px;
    width: 325px;
    text-align: right;
}
.second_line{
   margin: 20px 21px 70px 20px;
}
/*----------------------hover--------------------------*/

.red{position: relative;}

.red_box{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #e10011;
    border-radius:7px;
    display: none;

}
.red_text{
    position:absolute;
    bottom:58px;
    left:42px;
    line-height: 1.2;
    font-weight: 900;
    font-size:28px;
    text-align: left;
    color: white;
}
.red_text:after{
    content:"";
    background:white;
    width:86px;
    height:4px;
    position:absolute;
    left:0;
    top:76px;
}
.red:hover .red_box {
    display: block;
}

/*--------------------------------нижняя часть---------------------*/
footer{
    margin-bottom: 1% ;
    text-align: center;
}

.central_part h3{
    color: #303030;
    font-family: Raleway,sans-serif;
    font-size: 48px;
    line-height: 80px;
    letter-spacing: 1.2px;
    text-align: center;
}
form{
    margin: 3% auto 7%;
    text-align: center;}


.search{
    color: #979797;
    font-family: Raleway,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.45px;
    font-style: italic;
    border-radius:50px 0 0 50px;
    padding: 15px 0 15px 35px;
    border: none;
    width: 500px;
}

.button{
    background-color: #e10011;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 900;
    padding: 17px 45px;
    border: none;
    border-radius: 0 50px 50px 0;
    margin: 0 0 0 -3px;
}

.social{margin-bottom: 64px;}

section p {
    color: #303030;
    font-family: Raleway,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.45px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

span{
    color: #979797;
    font-family: Raleway,sans-serif;
}








