* {
    margin: 0 auto;
    padding: 0 0;
    box-sizing: border-box;
}
.baner{
    background: url("../img/baner.png")no-repeat  center;
    background-size: cover;
    height: 100vh;
    border: 18px solid white;
    border-bottom: none;
}
.container{
    max-width: 1115px;
    margin: 0 auto;
}
form{
    max-width: 656px;
    margin: 0 auto;
    padding-bottom: 113px;
    text-align: center;
}
h1{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    color:  #ffffff;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding-top: 254px;
}
p{
    font-family: 'Josefin Sans', sans-serif;
    color:  #ffffff;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 48px;
}
p:last-child{
    font-family: 'Josefin Sans', sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;

    text-align: center;
}
.search{
    padding: 22px 127px;
    font-family: 'Josefin Sans', sans-serif;
    color:  #999999;
    font-size: 14px;
    font-weight: 400;
    border: 2px solid white;
}
.button{
    background: #5474fd;
    font-family: Aleo;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding:  22px 32px 21px 32px;
    border: 2px solid white;
    margin-left: -5px;

}
/**************************nav******************************/
.nav{
    background:#5474fd;
    border-left: 18px solid white;
    border-right:18px solid white;
}
.nav li{
    list-style: none;
    font-family: Aleo;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    text-transform:uppercase;
    display: inline-block;
    padding-right: 36px;

}
h2{
    font-family: 'Josefin Sans', sans-serif;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    padding-top: 31px;
    padding-bottom: 31px;
    display: inline-block;

}
.nav ul{
    float: right;
    padding-top: 30px;
}
main:after{
    content:"";
    display:table;
    width: 100%;
    clear: both;
}
/*********************************why_choose_us*************************************/

.why_choose_us{
    background: url("../img/baner_2.png") center no-repeat;
    background-size: cover;
    border-left: 18px solid white;
    border-right:18px solid white;
}
.container_grid{
    padding-top: 112px;
    padding-bottom: 116px;
}
.why_choose_us .button{
    padding: 15px 36px ;
    opacity: 0.7;
    font-family: Aleo;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;

}

.why_choose_us img{
    max-width: 350px;
   min-height: 220px;

}
.why_choose_us p{
    font-family: 'Josefin Sans', sans-serif;
    color:  #e8e8e8;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}
.why_choose_us p:nth-child(2){
    padding-bottom: 37px;
}
.why_choose_us h3{
    font-family: Aleo;
    color:  #ffffff;
    font-size: 36px;
    font-weight: 400;
    text-align: left;
    padding-top: 70px;
    padding-bottom: 65px;
}
img{
    width: 100%;
    display: block;
}
.ba-grid:after {
    content: '';
    display: table;
    clear: both;
}
[class*="ba-width"] {
    width: 100%;

}
.ba-grid > [class*="ba-width_"] {
    float: left;
    padding-left: 19px;

}
.ba-grid {
    margin-left: -20px;

}

.ba-grid + .ba-grid {
    margin-top: 16px;
}

.ba-width_1_2 {
    width: 50%;

}
.ba-width_1{
    width: 100%;
}
.container_img_1{
padding-right: 87px;
    height: 100%;

}
.container_img_2{
    padding-left: 87px;
    height: 100%;
}
/***********************************************************************/
span{
    width: 96px;
    height: 96px;
    border-radius: 50%;
   background: grey;
    display: inline-block;
}
.icon_container {
    margin: 0;
}
.places{
    background: #333333;
    border-left: 18px solid white;
    border-right:18px solid white;
}
.places section{
    /*max-width: 96px;*/
    /*max-height: 96px;*/
    display: inline-block;
    border-radius: 90%;
    background: #333333;
}
.places img{
    display: block;
}
.places_dots{
    display: flex;
}
.stripes{
    padding-top: 42px;

}
section p{
    font-family: Aleo;
    color:  #e8e8e8;
    font-size: 36px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
/*******************************************************baner_3*****************************/
.baner_3{
    background: url("../img/baner_3.png") no-repeat center;
    background-size: cover;
    border-left: 18px solid white;
    border-right:18px solid white;
    text-align: left;
}
 .grey_box{
    max-width: 540px;
    text-align: left;
     background:rgba(33, 32, 33, 0.8);
     margin: 0 auto;
}
 .baner_box{
     padding-top: 226px;
     padding-bottom: 91px;
 }

.grey_box p{
    text-align: left;
}
/*******************************baner_4***********************************/
.baner_4{
    background: url("../img/baner_4.png") no-repeat center;
    background-size: cover;
    border-left: 18px solid white;
    border-right:18px solid white;
}
.grey_box h5{
    font-family: 'Josefin Sans', sans-serif;
    color:  #e8e8e8;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    padding-top: 39px;
    padding-bottom: 28px;
}
.grey_box h4{
    font-family: 'Josefin Sans', sans-serif;
    color:  #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    padding-bottom: 35px;
}
.grey_box p{
    font-family: 'Josefin Sans', sans-serif;
    color:  #e8e8e8;
    font-size: 16px;/* Approximation due to font substitution */
    font-weight: 400;
    line-height: 26px;/* Approximation due to font substitution */
    text-align: left;
    padding-bottom: 49px;
}
.grey_box .button{
    margin-bottom: 43px;
    font-family: Aleo;
    color:  #ffffff;
    font-size: 16px;/* Approximation due to font substitution */
    font-weight: 400;
    /*line-height: 26px;!* Approximation due to font substitution *!*/
    text-align: left;
    text-transform: uppercase;
    padding: 24px 57px;
    border: none;
}
.baner_3 .grey_box{
    margin-left: 0 ;
}
.baner_4 .grey_box{
    margin-right: 0;
}
.grey_ins{
    padding-left: 32px;
}
/************************************sumon*********************************/
.sumon{
    background: url("../img/baner_5.png") no-repeat center;
    background-size: cover;
    border-left: 18px solid white;
    border-right:18px solid white;
    text-align: center;
}
.sumon h2{
    font-family: Aleo;
    color:  #ffffff;
    font-size: 36px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    padding-top: 117px;

}
.sumon p{
    font-family: 'Josefin Sans', sans-serif;
    color:  #e8e8e8;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    padding-top: 48px;
    padding-bottom: 40px;
}
.sumon h5{
    font-family: 'Josefin Sans', sans-serif;
    color:  #fefefe;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    padding-top: 51px;
}
.sam_sumon{
    display: flex;
    background: #333333;
}
.sumon_box{
    padding-bottom: 195px;
    padding-top: 95px;
}
.sumon_text{
    padding-left: 61px;
    padding-right: 47px;
}
.sumon_img{
    width: 45%;
}
.sumon_text{
    width: 55%;
}
/*********************************footer***********************************/
.footer{
    background: #232323;
    border-left: 18px solid white;
    border-right:18px solid white;
    border-bottom: 18px solid white;
    text-align: center;
}
.footer h6{
    font-family: 'Josefin Sans', sans-serif;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    padding-top: 114px;
    text-transform: uppercase;
}
.footer p{
    font-family: 'Josefin Sans', sans-serif;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 20px;
}
.footer li{
    display: inline-block;
    font-family: FontAwesome;
    color:  #e8e8e8;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-right: 14px;
    padding-left: 14px;
}
a{
    color:  #e8e8e8;
}
a:hover{
    color: #5474fd;
}
.contact_list{
    padding-bottom: 48px;
}